body {
  display: flex;
  height: 100vh;
  background: #cfcccc;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  
}
* {
  box-sizing: border-box;
}
.page {
  display: inline-flex;
  height: 70vh;
  flex-direction: column;
  min-width: 1000px;
  margin: 0 auto;
  align-items: center;
}
.content {
  display: inline-flex;
  flex: 0 1 auto;
  overflow-y: auto;
  width: 1000px;
}

main {
  flex: 0 0 200px;
  overflow-y: auto;
  border: 1px solid orange;
}
header {
  border: 1px solid red;
  min-height: 50px;
  min-width: 1000px;
/*   display: inline;
  flex-grow: 1; */
  overflow-y: auto;
}

nav {
  border: 1px solid purple;
  flex: 0 1 100%;
  overflow-y: auto;
}
footer {
  border: 1px solid green;
  min-height: 100px;
  min-width: 1000px;
  bottom: 0;
 /*  flex-grow: 1; */
  overflow-y: auto;
}